.title-no-wrap{
  word-break: normal !important;
}
.pointer{
  cursor: pointer;
}

.custom-icon{
  top: 6px;
  width: 24px;
}

#app-width{
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

.app-width2{
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}



.montse{
  //font-family: Montserrat !important;
  font-family: 'Titillium Web', sans-serif !important;
}


.container-with-texture {
  position: relative;
  overflow: hidden;
  z-index: 3;
}


$color-yellow-full: rgba(246, 222, 80, 1);
$color-yellow: rgb(246, 222, 80);
$color-white: rgb(255, 255, 255);
$color-green: rgb(0, 255, 153);
$color-cyan: rgb(59, 244, 251);
$blending: hard-light;

.texture-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.texture-background rect {
  opacity: 0.82;
  filter: url(#sandpaper-filter);
}

.paper-texture {
  background-blend-mode: multiply;
  background: url('~/assets/textura-papel.png');
}

.effect-1 {
  background-position: bottom center;
  background-size: cover;
  position: relative; /* Necesario para posicionar el pseudoelemento */
  z-index: 1;
  overflow: hidden; /* Oculta partes del fondo que se salgan */
}

.effect-1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1440px;
  background-image: inherit;
  //background-color: rgba(164, 123, 123, 0.6);
  background-color: inherit;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  z-index: -1;
  //transform: scale(-1, -1);
  transform: rotate(270deg);
}

.effect-2 {
  background-position: top left;
}

.effect-3 {
  background-position: top right;
}

.content {
  position: relative;
  height: 100%;
  z-index: 6;
}

@property --x-yellow {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 95%;
}

@property --y-yellow {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 95%;
}

@property --x-green {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}

@property --y-green {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 95%;
}

@property --x-cyan {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 95%;
}

@property --y-cyan {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 5%;
}

@property --x-white {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}

@property --y-white {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}

@keyframes colorChange {
  0% {
    --x-yellow:95%;
    --y-yellow:95%;
    --x-green:0%;
    --y-green:95%;
    --x-cyan:95%;
    --y-cyan:5%;
    --x-white:0%;
    --y-white:0%;
  }
  20% {
    --x-yellow:50%;
    --y-yellow:135%;
    --x-green:28%;
    --y-green:35%;
    --x-cyan:72%;
    --y-cyan:68%;
    --x-white:50%;
    --y-white:-30%;
  }
  50% {
    --x-yellow:5%;
    --y-yellow:95%;
    --x-green:95%;
    --y-green:95%;
    --x-cyan:5%;
    --y-cyan:5%;
    --x-white:95%;
    --y-white:0%;
  }
  80% {
    --x-yellow:50%;
    --y-yellow:135%;
    --x-green:70%;
    --y-green:65%;
    --x-cyan:28%;
    --y-cyan:68%;
    --x-white:50%;
    --y-white:-35%;
  }
  100% {
    --x-yellow:95%;
    --y-yellow:95%;
    --x-green:0%;
    --y-green:95%;
    --x-cyan:95%;
    --y-cyan:5%;
    --x-white:0%;
    --y-white:0%;
  }
}

.dynamic-background {
  background:
    radial-gradient(ellipse at var(--x-yellow) var(--y-yellow),
      rgba($color-yellow, 1) 20%, rgba($color-yellow, 0) 50%),
    radial-gradient(ellipse at var(--x-green) var(--y-green),
      rgba($color-green, 1) 30%, rgba($color-green, .2) 60%),
    radial-gradient(ellipse at var(--x-cyan) var(--y-cyan),
      rgba($color-cyan, 1) 20%, rgba($color-cyan, 0) 70%),
    rgba(255,255,255,1) !important;
  animation: colorChange 12s ease-in-out infinite !important;
}

.dynamic-background-dark {
  background:
    radial-gradient(ellipse at var(--x-white) var(--y-white),
      rgba($color-yellow, 1) 20%, rgba(255,255,255, 0) 50%),
    radial-gradient(ellipse at var(--x-green) var(--y-green),
      rgba($color-cyan, 1) 30%, rgba($color-cyan, .2) 60%),
    radial-gradient(ellipse at var(--x-cyan) var(--y-cyan),
      rgba($color-green, 1) 20%, rgba($color-green, 0) 70%)
    rgba(0, 0, 0, 1) !important;
  animation: colorChange 12s ease-in-out infinite !important;
}
